* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
}

.navbar-container {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0 3px 10px #eaeaea;
}

.brand-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.brand-logo-container h2 {
  cursor: pointer;
  color: tomato;
  user-select: none;
}

.brand-logo-container h2:hover {
  color: black;
}


.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: fill;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
}

.buttons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.services-btn, .contact-btn, .home-btn {
  width: 110px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid tomato;
  color: black;
  font-weight: 500;
}

.services-btn:hover, .home-btn:hover, .contact-btn:hover {
  box-shadow: 0 3px 10px #c5c5c5;
  background-color: tomato;
  border: transparent;
  color: white;
  cursor: pointer;
  outline: none;
}
.active-btn {
  box-shadow: 0 3px 10px #c5c5c5;
  background-color: tomato;
  border: transparent;
  color: white;
  cursor: pointer;
  outline: none;
}

.toggle-btn {
  font-size: 30px;
  color: tomato;
  display: none;
}

/* Hero Container*/

.hero-container {
  width: 100vw;
  height: 100%;
  background-image: url('https://mylikes2.github.io/mylikes.github.io/assets/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  padding-top: 10%;
}

.hero-content {
  padding: 10% ;
}

.hero-content-text {
  user-select: none;
  padding: 10px;
}

.hero-content-text span{
  color: tomato;
}

.hero-content-text p {
  padding: 10px;
}

.contact-btn-container {
  user-select: none;
  margin-left: 10px;
}

.hero-contact-btn {
  width: 120px;
}

.seperator {
  width: 100vw;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.678);
}

.middle-container {
  width: 100%;
  height: 100%;
  background-image: url('https://mylikes2.github.io/mylikes.github.io/assets/middle-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.testimonials {
  display: flex;
  justify-content: start;
  flex-shrink: 1;
  padding-top: 5%;
  padding-left: 2%;
  color: white;
  user-select: none;
}

.even-spacing {
  text-align: center;
}

.testimonials h1 {
  padding-bottom: 10px;
  font-size: 3vw;
}

.services-nav-container {
  margin-left: 15%;
  margin-top: 3%;
  color: white;
  user-select: none;
}

.services-text h3 {
  font-size: 1.5rem;
}

.services-btn-container {
  margin-top: 1%; 
  display: flex;
  justify-content: start;
}

.mid-serv-btn {
  width: 120px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
}

.mid-serv-btn:hover {
  box-shadow: 0 3px 10px #fff;
  cursor: pointer;
}

.our-quality-container {
  width: 100vw;
  height: 40%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.quality-content {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.contents-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(110, 109, 109, 0.678);
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3%;
}

.price-container, .variety-container, .speed-container, .support-container {
  width: 200px;
  flex-wrap: wrap;
  user-select: none;
}

.even-flex {
  display: flex;
  justify-content: center;
}

.even-margin {
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.price-icon img, .variety-icon img, .speed-icon img, .support-icon img {
  width: 50px;
  height: 50px;
}

.speed-title-delivery h3 {
  text-align: center;
}


.contact-us-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  background-position: center;
  background-size: 150%;
  object-fit: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out ;
  background-image: url('https://mylikes2.github.io/mylikes.github.io/assets/social-bg.jpg');
}

.contact-us-container:hover {
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out ;
}

.contact-us {
  padding: 30px;
  height: 20%;
  border-radius: 15px;
  background-color: white;
  user-select: none;
}

.contact-text h3 {
  text-align: center;
  font-size: 2vw;
}

.contact-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.contact-us-btn{
  width: 120px;
  height: 40px;
  border-radius: 15px;
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.contact-us-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid tomato;
  box-shadow: 0 3px 10px rgba(110, 109, 109, 0.678);
}

.btn-spacing {
  margin-left: 20px;
}


.footer-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  box-shadow: 0 3px 10px #4d4d4d;
}

.footer-image {
  color: tomato;
  cursor: pointer;
  user-select: none;
}

.footer-image:hover {
  color: black;
}

.footer-copyrights {
  user-select: none;
  margin-right: 5%;
}


@media only screen and (max-width:450px) {

  .buttons {
    display: none;
  }

  .home-btn, .services-btn, .contact-btn {
    margin-bottom: 10px;
  }

  .toggle-btn {
    display: block;
  }

  .toggle-block-btn {
    display: block;
  }

  .hero-container {
    padding-top: 20%;
  }

  .services-text-container{
    display: flex;
    justify-content: center;
  }

  .contents-container {
    display: flex;
    justify-content: center;
  }

  .services-nav-container {
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services-btn-container {
    display: flex;
    justify-content: center;
  }

  .services-text h3 {
    text-align: center;
  }

  .contact-text h3{
    font-size: 4vw;
  }

  .footer-image {
    padding-top: 10px;
  }

  .footer-copyrights {
    padding-bottom: 10px;
    font-size: 4vw;
  }

  .footer-container {
    display: flex;
    flex-direction: column;  
  }

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 10px;
}